<h4 class="ms-3 p-2 mt-3 text-success">{{data}}</h4>

<div class="container w-50 border  text-center p-5 mt-5">
    <h1> Sign in to your Bank Account</h1>
    <form action="" (ngSubmit)="login()">
        <div class="p-3 mt-2">
            <input [(ngModel)]="acno"  id="acid" name="accnum1" class="form-control" type="text" [placeholder]="Inputplaceholder">
        </div>
        <div class="p-3 mt-2">
            <input [(ngModel)]="psw" id="psw1" name="passwrd1" class="form-control" type="password" placeholder="Enter your password">
        </div>
        <div class="p-3 mt-2">
            <button type="submit"  class="btn btn-outline-light">login</button>
        </div>

        <div><strong>registered ?</strong> 
             <a style="text-decoration: none; color: rgb(50, 56, 225);" routerLink="register" href="" ><strong>register</strong></a> 
        </div>
    </form>
</div>