

<div class="text-end pt-3 pe-4  ">
    <button type="button" (click)="deleteParent()" class="btn btn-outline bg-primary text-white" >Delete</button>

    <button type="button" (click)="logout()" class="btn btn-outline bg-danger text-white">log out</button>
</div>

<h2>welcome {{user}} </h2>

<app-deleteconfirm [item]="acno"></app-deleteconfirm>


<div class="mt-3 p-2 w-25 container text-center  border-dark rounded-pill "
    style="background-color: rgb(65, 58,42,0.581) ;">

    <a style="text-decoration:none; color: chartreuse;" routerLink="/transaction">View Transaction History</a>
</div>


<div [ngClass]="acno?'style':'' "  class="container row mb-5 p-5 ">
    <div class="text-center container col-lg-6 col-md-12">
        <div class="container w-75 border  text-center p-5 mt-2" style="background-color: rgb(65, 58,42,0.581);">
            <h1> Deposit</h1>
            <form [formGroup]="depositForm" action="">
                <div class="p-3 mt-2">
                    <input formControlName="acno" id="acid" name="accnum1" class="form-control" type="text"
                        placeholder="Enter Account number">
                </div>
                <div class="p-3 mt-2">
                    <input formControlName="psw" id="psw1" name="passwrd1" class="form-control" type="password"
                        placeholder="Enter password">
                </div>
                <div class="p-3 mt-2">
                    <input formControlName="amnt" id="amouid" name="amnt1" class="form-control" type="number"
                        placeholder="Amount">
                </div>


                <div class="p-3 mt-2">
                    <button type="button" (click)="deposit()" class="btn btn-outline-warning">Deposit</button>
                </div>


            </form>
        </div>
    </div>
    <div class="text-center container col-lg-6 col-md-12">
        <div class="container w-75 border col-6   text-center p-5 mt-2" style="background-color: rgb(65, 58,42,0.581);">
            <h1 class="text-white"> Withdraw</h1>
            <form [formGroup]="withdrawForm" action="">
                <div class="p-3 mt-2">
                    <input formControlName="acno1" id="acid2" name="accnum1" class="form-control" type="text"
                        placeholder="Enter Account number">
                </div>
                <div class="p-3 mt-2">
                    <input formControlName="psw1" id="psw2" name="passwrd1" class="form-control" type="password"
                        placeholder="Enter password">
                </div>
                <div class="p-3 mt-2">
                    <input formControlName="amnt1" id="amouid1" name="amnt1" class="form-control" type="number"
                        placeholder="Amount">
                </div>


                <div class="p-3 mt-2">
                    <button type="button" (click)="withdraw()" class="btn btn-outline-danger">Withdraw</button>
                </div>
            </form>
        </div>