<div class="container w-50 border  text-center p-5 mt-5">
    <h1> create your Bank Account</h1>
    <form action="">
        <div class="p-3 mt-2">
            <input [(ngModel)]="uname" id="unamid" name="accnum1" class="form-control" type="text"
                placeholder="Enter user name">
        </div>
        <div class="p-3 mt-2">
            <input [(ngModel)]="acno" id="acid" name="passwrd1" class="form-control" type="text"
                placeholder="Enter account number">
        </div>
        <div class="p-3 mt-2">
            <input [(ngModel)]="psw" id="acid" name="passwrd1" class="form-control" type="password"
                placeholder="Enter your password">
        </div>


        <div class="p-3 mt-2">
            <button type="button" (click)="register()" class="btn btn-outline-light">register</button>
        </div>
    </form>
</div>